body {
     padding-top:120px;
     margin:0px;
     background:#f6f6f6;

}

h1 {
     font-family: Gilroy-ExtraBold;
     font-size:54px;
     color:#130234;
     position:relative;

}

h1 .icon {
     display:block;
     position:relative;
     font-size:80px;
     padding-right:20px;
}

h2 {
     padding-top:20px;
     font-family: Gilroy-ExtraBold;
     font-size:24px;
     color:#130234 !important;

}

section {
     margin-left:auto;
     margin-right:auto;
     width:80%;
     max-width:900px;
     color:rgba(32, 6, 87, 0.7);
     font-family: DINNextLTPro-Regular;
     letter-spacing:0.2px;

}

strong {
     font-weight:800;
     color:#130234 !important;

}

.checkout {
     float:right;
     margin-top:60px;
     margin-bottom:60px;

}

@media (max-width:750px) {
     body {
          padding-top:40px;

     }

     h1 {
          font-size:34px;

     }

     h1 .icon {
          font-size:50px;

     }

     section {
          width:85%;

     }

}

.refresh {
     position: absolute;
     top:14px;
     right:14px;

}

.refresh a {
     font-family: DINNextLTPro-Regular;
     color:#5075ff;
     text-decoration:none;
     font-weight:800;
     padding-left:14px;

}